@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.navbar {
    height: 100vh;
    width: 16rem;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    background-color: #404047;
    position: sticky;
    border-radius: 0px 10px 10px 0px;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;

  }
  
  .navbarMain {
    flex: 1;
    position: sticky;

    
  }
  
  .header {
    padding-bottom: var(--mantine-spacing-md);
      /* margin-bottom: calc(var(--mantine-spacing-md) * 1.5); */
    border-bottom: rem(1px) solid var(--mantine-color-blue-7);
    
  }
  
  .footer {
    padding-top: var(--mantine-spacing-md);
    margin-top: var(--mantine-spacing-md);
    border-top: rem(1px) solid var(--mantine-color-blue-7);
  }
  
  .version {
    background-color: var(--mantine-color-blue-7);
    color: var(--mantine-color-white);
  }
  
  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-white);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
  
  
/*   
   &[data-active] {
      &,
      &:hover {
        box-shadow: var(--mantine-shadow-sm);
        background-color: var(--mantine-color-white);
        color: var(--mantine-color-blue-filled);
  
        .linkIcon {
          color: var(--mantine-color-blue-filled);
        }
      }
    }  */
  }
  
  .linkIcon {
    color: white;
    margin-right: var(--mantine-spacing-sm);
    width: rem(25px);
    height: rem(25px);
  }


  .headerIcon{
    color: white;
    margin-left: 0.7rem;
    width: 2.5rem;
    height: 2.5rem;
  }


.dashCard{
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  background-color: #F0F2F5;
  font-family: "Roboto", sans-serif;

}

.dashDesc{
  flex-direction: row;
  display: flex;
  color: #F0F2F5;
  font-family: "Roboto", sans-serif;

}

.CardInfoName{
  justify-self: right;
  
}


.mainDash{
  font-family: "Roboto", sans-serif;
}

.cardIcon{
  color: white;
}

.cardHover{
  justify-content:center;
  display:flex;
  align-items:center;
  position: absolute;
   margin-top: -30px;
  z-index: 100;
  border-radius:50px;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(64, 64, 64, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}